@{
    ViewBag.Title = "About";
}
<div class="container">
    <h1 class=" containertext-center text-success ">About UrbanMediMart</h1>
    <p class="text-center text-info">
        UrbanMediMart is being run a team of Individuals who has established themselves in the field of Urology for the Past Decade & Half. <br />
        UrbanMediMart team for the Past Decade & Half built their Reputation in the Sales, Service & Maintenance of Many Lithotripsy, UroDynamics, Manometry, Lasers, & Many other specialty Products.<br />
        The result of these efforts today is UrbanMediMart an innovative company that provides the advice & solutions that empower people to successfully grow their businesses through Best Service & Better products. <br />
        Over the years, we have been fortunate that we have best reputation in the field of Urology Equipments
    </p>
</div>