@{
    ViewBag.Title = "Contact";
}
<div class="container text-primary">
    <h1>Contact Us</h1>
    <address>
        coforgetech sez D-901<br />
        greater-Noida, India 201302<br />
        <abbr title="Phone">: +919988567888</abbr>
        425.555.0100
    </address>


    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@UrbanMediMArts.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>